<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="/"><img src='/logo.jpg' width='30px' height='30px'></a>
  <a class="navbar-brand" href="/">Blackfloat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if (user) { %>
  <a href='/' class='text-center text-dark'>
    <%= user %></a>
  <% if (user_id) { %>
  <img src='/image/<%= user_id %>.jpg' id='big_head' class='rounded-circle'>
  <% }else{ %>
  <img src='/zero.jpg' id='big_head' class='img-thumbnail'>
  <% } %>
  <% } %>
  <form class="form-inline offset-md-3" action='/account/search' method='post'>
    <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search" aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="collapse navbar-collapse offset-md-3" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if (user) { %>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            帳號管理
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
            <a class="dropdown-item" href="/account/update">修改大頭貼</a>
            <a class="dropdown-item" href="/account/logout">登出</a>
          </div>
        </div>
        <% } else { %>
        <a class="nav-link" href="/login">登入/註冊</a>
        <% } %>
      </li>
    </ul>

  </div>
</nav>
<style>
  #chatbar {
    position: fixed;
    right: 0px;
    height: 100%;
    width: 15%;
  }

  #friends-tag {
    width: 100%;
    height: 30px;
  }

  #friend-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 15%;
  }
  #chatroom{
    position: fixed;
    bottom: 0px;
    height:300px;
    width:200px;
    right:15%;
    border:1px solid black;
  }
  /* #friends{
    height:90%;
    overflow: auto
  } */
  #img-head{
    width :30px;
    height: 30px;
  }
</style>
<% if (user) { %>
<button class='btn btn-success' id='friend-btn'>好友</button>
<div id='chatbar' style='display:none'>
  <div id='friends-tag' class='btn btn-success'>
    好友列表
  </div>
  <div id='friends'>
  </div>
</div>
<div id='chatroom' style='display:none'>
  <div class="card-header" id='friend_name'>
    name
  </div>
  <div id='chat_content' style='overflow: auto; height:70%'>
  </div>
  <form class='row' id='chatform' action='123'>
    <input type='text' class='offset-md-1 col-md-6' id='chatinput'>
    <button class='btn col-md-4' type='submit'>傳送</button>
  </form>
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var chatroom;
  var flag = 0;
  var time = 0;
  $('#friend_name').click(function () {
    $('#chatroom').hide();
    socket.close();
  })
  $('#chatform').submit(function () {
      socket = io();
      socket.emit(chatroom, $('#chatinput').val());
      console.log(chatroom)
      $('#chatinput').val('');
      return false;
    });
  function myFunction(name, id) {
    var socket = io();
    socket.close();
    socket.open();
    console.log(name)
     chatroom = id;
    $.ajax({
      type: "POST",
      url: '/chatroom',
      dataType: 'json',
      data: "name=" + chatroom,
      success:
        function (msg) {
          console.log(msg)
        }
    })
    document.querySelector('#friend_name').innerHTML = name
    socket.on(chatroom, function (msg) {
      $('#chat_content').append($('<li>').addClass('list-group-item').text(msg));
    });
    $('#chatroom').show();
  }
  $(function () {
    var friends = document.querySelector('#friends');
    var data = 123;
    $.ajax({
      type: "POST",
      url: '/account/find',
      dataType: 'json',
      success:
        function (msg) {
          data = msg
        }
    })
    $('#friend-btn').click(function () {
      console.log(data)
      $(this).hide();
      if (flag != 1) {
        for (i of data) {
          $('#friends').append(`<div class='row' style='padding:5px 20px'><a href=/${i.friend_email} class="list-group-item col-md-8">${i.friend_name}</a><button id='${i.friend_ID}' class='btn btn-primary col-md-4' onclick="myFunction('${i.friend_name}','${i.chatroom}')">聊天 </button></div>`)
        }
      }
      $('#chatbar').show(500);
      flag = 1;
    })

  })
  $('#friends-tag').click(function () {
    $('#chatbar').hide(300);
    $('#friend-btn').show();
  })
</script>
<% } %>